<footer>
  <div class="relative overflow-hidden bg-[#F0EDE9] py-[60px]">
    <img src="./img/foot1.webp" alt="Отримайте консультацію нашого юриста" class="absolute bottom-0 left-0 hidden lg:block" />
    <img src="./img/foot2.webp" alt="Отримайте консультацію нашого юриста" class="absolute -bottom-[60px] right-0 object-contain max-lg:opacity-50 max-sm:h-full max-sm:w-full sm:bottom-0" />
    <div class="container relative z-10 flex flex-col items-center px-4 max-sm:text-center sm:items-start">
      <div class="max-w-[615px] mb-10 flex flex-col gap-y-5 max-sm:items-center sm:mb-[60px] sm:gap-y-[30px]">
        <span class="h-[1px] w-[105px] bg-zinc-800"></span>
        <h2 class="text-xl font-bold !leading-snug text-zinc-800 sm:text-4xl">Отримайте консультацію нашого юриста</h2>
        <p class="text-base font-bold leading-snug text-stone-600 sm:text-2xl">Задайте будь-яке питання безпосередньо в:</p>
      </div>
      <a href="#" class="group flex h-[43px] items-center justify-center rounded-[100px] bg-[#686157] px-5 transition-colors hover:bg-primary/80 sm:h-[70px] sm:gap-x-2.5 sm:px-4">
        <svg class="hidden size-5 text-white transition-colors group-hover:text-white sm:block">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
        <span class="text-sm font-semibold text-white transition-colors group-hover:text-white sm:text-base">Отримати косультацію</span>
      </a>
    </div>
  </div>

  <div class="bg-[#333333]">
    <div class="container flex flex-wrap items-center justify-between gap-y-8 py-8 max-lg:flex-col lg:gap-y-3 lg:space-x-3 lg:py-9">
      <a href="/" class="order-1">
        <img src="./img/logo-footer.svg" alt="Logo" class="h-[51px] w-[193px] object-contain sm:h-[64px] sm:w-[239px]" />
      </a>
      <nav class="order-3 lg:order-3">
        <ul class="flex items-center gap-y-[30px] max-lg:flex-col lg:gap-x-[50px]">
          <li>
            <a href="#services" class="uppercase text-white transition-colors hover:text-primary">Послуги</a>
          </li>
          <li>
            <a href="#about" class="uppercase text-white transition-colors hover:text-primary">Про нас</a>
          </li>
          <li>
            <a href="#comments" class="uppercase text-white transition-colors hover:text-primary">Відгуки</a>
          </li>
          <li>
            <a href="#contacts" class="uppercase text-white transition-colors hover:text-primary">Контакти</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="group order-2 flex h-[43px] items-center justify-center rounded-[100px] bg-[#686157] px-[7px] transition-colors hover:bg-primary/80 sm:h-[65px] sm:gap-x-2.5 sm:px-4 lg:order-3">
        <svg class="hidden size-5 text-white transition-colors group-hover:text-white sm:block">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
        <span class="text-sm font-semibold text-white transition-colors group-hover:text-white sm:text-base">Зв'язатися в Telegram</span>
      </a>
    </div>
    <div class="border-t border-[#D2D2D2]">
      <div class="container flex items-center justify-center gap-x-4 gap-y-[20px] py-8 max-lg:flex-col lg:py-4">
        <p class="text-center text-base text-[#8E8E8E]">© 2024. Arganov OA! Всі права захищені</p>
      </div>
    </div>
  </div>
</footer>
