<header class="">
  <div class="bg-[#404040]">
    <div class="container flex items-center gap-x-4 py-2.5 lg:justify-start">
      <a href="#location" class="group mr-[50px] flex items-center gap-x-2.5">
        <svg class="size-6 text-stone-300">
          <use href="./sprites/sprite.svg#icon-loc"></use>
        </svg>
        <p class="text-sm font-semibold text-stone-300 transition-colors group-hover:text-primary sm:text-base">Вулиця Героїв 45, офіс 21</p>
      </a>
      <a href="tel:(063)76-13-177" class="group mr-auto flex items-center gap-x-2.5">
        <svg class="size-6 text-stone-300">
          <use href="./sprites/sprite.svg#icon-tel"></use>
        </svg>
        <p class="text-sm font-semibold text-stone-300 transition-colors group-hover:text-primary sm:text-base">(063) 76-13-177</p>
      </a>
      <p class="hidden text-sm text-stone-300 lg:block">КОНСУЛЬТАЦІЯ 24/7</p>
    </div>
  </div>

  <div class="bg-[#E4E4E4]">
    <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3 py-6">
      <a href="/">
        <img src="./img/logo.svg" alt="Logo" class="h-[37px] w-[141px] object-contain sm:h-[64px] sm:w-[239px]" />
      </a>
      <nav class="hidden lg:block">
        <ul class="flex items-center lg:gap-x-[50px]">
          <li>
            <a href="#services" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Послуги</a>
          </li>
          <li>
            <a href="#about" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Про нас</a>
          </li>
          <li>
            <a href="#comments" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Відгуки</a>
          </li>
          <li>
            <a href="#contacts" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Контакти</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="flex h-[43px] items-center justify-center group rounded-[100px] bg-[#686157] px-[7px] transition-colors hover:bg-primary/80 sm:h-[65px] sm:gap-x-2.5 sm:px-4">
        <svg class="hidden size-5 text-white sm:block group-hover:text-white transition-colors">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
        <span class="text-sm font-semibold text-white sm:text-base group-hover:text-white transition-colors">Зв'язатися в Telegram</span>
      </a>
    </div>
  </div>
</header>
